.newPrompt{


    .newForm{
        width: 50%;
        position: absolute;
        bottom: 0;
        background-color: gray;
        border-radius: 24px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0px 20px;

        input{
            flex: 1;
            padding: 20px;
            border: none;
            outline: none;
            background-color: rgb(87, 87, 87);
            color: aliceblue;

        }
        
        button,label{
            border-radius: 50% ;
            background-color: gray;
            border: none;
            padding: 10px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        

            img{
                 width: 16px;
                 height: 16px;
            }
        }
    }

}